<section class="content">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <app-infobox
        title="Users"
        color="bg-aqua"
        icon="fa fa-group"
      ></app-infobox>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <app-infobox
        title="Requests"
        color="bg-red"
        icon="fa fa-hand-spock-o"
        value="41,410"
      ></app-infobox>
    </div>
    <!-- /.col -->

    <div class="col-md-4 col-sm-4 col-xs-12">
      <app-infobox
        title="Drivers"
        color="bg-green"
        icon="fa fa-cab"
        value="760"
      ></app-infobox>
    </div>
  </div>

  <div class="row">
    <app-request
      [showHeader]="false"
      [subtitle]="'Recent Requests'"
    ></app-request>
  </div>
</section>
