<section class="content">
  <div class="box box-solid">
    <div class="box-body">
      <h4
        style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;"
      >
        PREMIUM TEMPLATE
      </h4>
      <div class="media">
        <div class="media-left">
          <a
            href="https://www.creative-tim.com/product/now-ui-kit-pro?affiliate_id=97705"
            class="ad-click-event"
          >
            <img
              src="./assets/background.jpg"
              alt="Now UI Kit"
              class="media-object"
              style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);"
            />
          </a>
        </div>
        <div class="media-body">
          <div class="clearfix">
            <p class="pull-right">
              <a
                href="https://www.creative-tim.com/product/now-ui-kit-pro?affiliate_id=97705"
                class="btn btn-success btn-sm ad-click-event"
              >
                LEARN MORE
              </a>
            </p>

            <h4 style="margin-top: 0">Now UI Kit ─ $69</h4>

            <p>
              A beautiful Bootstrap 4 UI kit featuring over 1000 components, 34
              sections and 11 example pages
            </p>
            <p style="margin-bottom: 0">
              <i class="fa fa-shopping-cart margin-r5"></i> 858+ purchases
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
